.google-button {
    color: white;
    background-color: #996643;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.8rem 1.25rem;
    margin-left: 0.9rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-inline-end: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.google-button:hover {
    background-color: #357ae8; /* Darker shade for hover */
}

.google-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.5);
}

.google-button:focus-visible {
    outline: none;
}

.google-icon {
    width: 1rem;
    height: 1rem;
    margin-inline-end: 0.5rem;
}

.dark .google-button:focus {
    box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.55);
}

.anchor_login{
    color:antiquewhite;
}
.anchor_login:hover{
    color: antiquewhite;
}

@media (max-width: 768px) {
    .logo {
        width: 120px; /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px; /* Further adjust width for very small screens */
    }
}

.login-content{
    margin-top: 20px;
    background-color: #0672e6;
    border-radius: 0.8rem;
    
  }

  .login-content:hover{
    background-color: #357ae8;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: 500;
    border-radius: 0.8rem;
    font-size: 0.7rem;

  }

  