:root {
    --font-color: #222;
    --bg-color: #f2f3f7;
    --button-bg-color: #f2f3f7;
    --button-shadow:
      -6px -6px 8px rgba(255, 255, 255, 0.9),
      5px 5px 8px rgba(0, 0, 0, 0.07);
  }
  
 [data-theme="dark"] {
    --font-color: #fff;
    --bg-color: #181818;
    --button-bg-color: #121212;
    --extra-small-button-login-background-colour: #121212;
    --button-shadow:
      -2px -2px 4px rgba(36, 36, 36, 0.05),
      0 0 10px 10px rgba(2, 2, 2, 0.005),
      2px 2px 8px rgba(22, 22, 22, 0.1);
  } 


  
  button svg {
    width: 24px;
    height: 24px;
}
   
  html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    /* color: var(--font-color); */
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #f2f2f2;
  }
  
  .color-cool {
    color: #077dfe;
  }
  
  .color-warm {
    color: #ff7a00;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    align-items: center;
    flex-direction: column;
  }
  
  @media screen and (min-width:800px) {
    .container {
      flex-direction: row;
    }
  }

  .body-light {
    font-family: Arial, sans-serif;
    background-color: #d6dadb;
    
    
    
    /* height: 100vh; */
    margin: 0;
}
  .body-dark {
    font-family: Arial, sans-serif;
    background-color:#161414;
    
    /* height: 100vh; */
    margin: 0;
}

.navbar{
  margin-bottom: 20px;
}



.form-container {
    display: flex;
    align-items: center;
    max-width: 20rem;
    margin: auto;
    text-transform: capitalize;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.input-container {
    position: relative;
    width: 100%;
}

.icon-container {
    position: absolute;
    /* inset-y: 0; */
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    pointer-events: none;
}

.search-icon {
    width: 1rem;
    height: 1rem;
    color: #6b7280;
}

.search-input {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #111827;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.625rem 0.625rem 0.625rem 2.5rem;
    box-sizing: border-box;
    outline: none;
}

.search-input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);
}

.search-button {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #e6eaf7;
    border: 1px solid #cfcccc;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
}

.search-button:hover {
    background-color: #bababa;
}

.search-button:focus {
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
}

.search-button-icon {
    width: 1rem;
    height: 1rem;
    color: #ffffff;
}

.app-container {
  background-color: var(--bg-color);
  border-radius: 40px;
  /* box-shadow: -2px -2px 4px 0px #ffffff, 50px 50px 50px 0px rgba(196, 6, 6, 0.25); */
  /* box-shadow: -2px -2px 4px 0px #ffffff, 50px 50px 50px 0px rgba(0, 0, 0, .25); */
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
  
  display: block;
  flex: 1;
  min-height: 500px;
  max-width: 350px;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 30px;
  
  
} 
  
  
  
.app-top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .app-heading {
    color: var(--font-color);
    display: block;
    flex: 1;
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    text-align: center;
    
  }

  .city-heading {
    color: var(--font-color);
    display: block;
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: var(--button-shadow);
    border-radius: 15px;
  }
  
  button {
      border: 0;
      &:focus {
          border: none;
          outline: 0 !important;
          outline-style: none;
      }
  }
  
  .button {
    color: var(--font-color);
    position: relative;
    border-radius: 15px;
    background: var(--button-bg-color);
    font-weight: 700;
    transition: all 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: var(--button-shadow);
    cursor: pointer;
    
    &.button-link {
      color: #4a8ed6;
      display: block;
      font-size: 17px;
      margin: 30px 0 0;
      padding: 20px 0;
      width: 100%;
    }
    
    &.button-small {
      color: #6D6E74;
      font-size: 14px;
      line-height: 40px;
      width: 40px;
      height: 40px;
      
    }
    
    &.button-large {
      display: flex;
      font-size: 20px;
      flex-direction: column;
      padding: 15px;
      text-align: left;
      width: 45%;
      
      & svg {
        margin-bottom: 40px;
        width: 30px;
      }
    }
  }

  .google-login-button {
    display: flex;
    align-items: center;
    padding: 0.625rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #e6eaf7;
    border: 1px solid #cfcccc;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
}

#toggle-btn{
  padding-top: 0px;
}
    
  .button-dial {
    border-radius: 50%;
    display: flex;
    height: 270px;
    margin: 35px auto;
    align-items: center;
    justify-content: center;
    width: 270px;
  }
  
  .button-dial-top {
    background: var(--button-bg-color);
    box-shadow: var(--button-shadow);
    border-radius: 50%;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    left: 15%;
    text-align: center;
    z-index: 5;
  }
  
  .button-dial-label {
    color: #067CF8;
    font-size: 20px;
    fill: #067CF8;
    position: relative;
    z-index: 10;
  }
  
  .button-dial-spoke {
    background-color: rgba(96, 171, 254, 0.6);
    display: block;
    height: 2px;
    width: 83%;
    position: absolute;
    margin: 0 auto;
    z-index: 5;
    top: 50%;
    
    &:nth-child(2) {
      transform: rotate(30deg);
    }
    &:nth-child(3) {
      transform: rotate(60deg);
    }
    &:nth-child(4) {
      transform: rotate(90deg);
    }
    &:nth-child(5) {
      transform: rotate(120deg);
    }
    &:nth-child(6) {
      transform: rotate(150deg);
    }
  }
  
  .button-block {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 24px;
    width: 100%;
    
    span {
      font-size: 16px;
    }
  }
  
  .subtle {
    color: #6D6E74;
  }
  
  .flex-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .button-light {
    color: #1f2937; /* text-gray-900 */
    background-color: #869cf0; /* bg-white */
    border: 1px solid #d1d5db; /* border-gray-300 */
    outline: none; /* focus:outline-none */
    font-weight: 500; /* font-medium */
    border-radius: 0.375rem; /* rounded-lg */
    font-size: 0.875rem; /* text-sm */
    padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
    margin-right: 0.5rem; /* me-2 */
    margin-bottom: 0.5rem; /* mb-2 */
}

.button-light:hover {
    background-color: #f3f4f6; /* hover:bg-gray-100 */
    opacity:80%;
}

.button-light:focus {
    box-shadow: 0 0 0 4px #f3f4f6; /* focus:ring-4 focus:ring-gray-100 */
}

.app-content{
    text-transform: capitalize;
}


/* 
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
} */

/* .extra-small-button-login {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    box-shadow: var(--button-shadow);
}

.extra-small-button-login:hover {
    background-color: #f0f0f0;
}

.extra-small-button-login:focus {
    box-shadow: 0 0 0 4px rgba(64, 133, 244, 0.5);
}
/* 
.extra-small-button-login:active {
    background-color: #1e3a8a;
} */ 

/* @media (prefers-color-scheme: dark) {
    .extra-small-button-login {
        background-color: #2563eb;
    }

    .extra-small-button-login:hover {
        background-color: #1d4ed8;
    }

    .extra-small-button-login:focus {
        box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
    }
} */


.parent-class{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-dark {
  background-color: #121212; /* Dark background color */
  color: #000;          
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.google-button {
  color: white;
  background-color: #996643;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  padding: 0.8rem 1.25rem;
  margin-left: 0.9rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-inline-end: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.google-button:hover {
  background-color: #357ae8; /* Darker shade for hover */
}

.google-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.5);
}

.google-button:focus-visible {
  outline: none;
}

.google-icon {
  width: 1rem;
  height: 1rem;
  margin-inline-end: 0.5rem;
}

.dark .google-button:focus {
  box-shadow: 0 0 0 4px rgba(66, 133, 244, 0.55);
}

.anchor_login{
  color:antiquewhite;
}
.anchor_login:hover{
  color: antiquewhite;
}

@media (max-width: 768px) {
  .logo {
      width: 120px; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .logo {
      width: 100px; /* Further adjust width for very small screens */
  }
}

.navbar-light {
  background-color: rgb(200, 200, 194); /* Light background color */
  color: #000;               /* Dark text color */
}

.navbar-container{
  display: flex;
  justify-content:space-between ;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: #9ddcd6; */
}

.nav_h2{
  color: #067CF8;
}

.profile_div{
  margin-right: 200px;
  display: flex;
  margin-top: 10px;
  list-style-type: none;
}

.nav_username{
  margin-left: 65px;
  align-items: start;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav_h2{
  margin-bottom: 0px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .profile_div {
    margin-right: 0;
    margin-top: 5px;
    justify-content: center;
  }

  .nav_username {
    margin-left: 0;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .navbar-container {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .nav_h2 {
    font-size: 1.2em;
  }

  .profile_div {
    flex-direction: column;
    align-items: center;
  }

  .nav_username {
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}





